// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.customer-head-line {
    padding-top: 20px;
    padding-bottom: 15px;
}

.customer-create-form {
    padding-top: 40px;
    padding-bottom: 20px;
}

.customer-detail-show {
    padding-top: 40px;
    padding-bottom: 20px;    
}