// Place all the styles related to the CustomerOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.customer-order-head-line {
    padding-top: 20px;
    padding-bottom: 15px;
}

.customer-order-create-form {
    padding-top: 40px;
    padding-bottom: 20px;
}