// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.products-head-line {
    padding-top: 20px;
    padding-bottom: 15px;
}

.product-detail-show {
    padding-top: 40px;
    padding-bottom: 20px;
}